  body {
    font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
    background: url("https://icedblock173-cyber.github.io/bkg.jpg") repeat scroll top left;
    padding: 0 40px 40px 40px;
    color: white;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
    margin: 25px;
}
.navbar, #Body {
  text-align: center;
}

.navbar, span {
  font-weight: bold;
}

.navbar {
 width: 900px;
 height: 30px;
 background-image: linear-gradient(to bottom, #0D85FD, #095FB5);
 border-top: solid 1px #075FB6;
 border-bottom: solid 1px #03203E;
 font-family: arial;
 padding: 5px;
 margin: auto;       
}
#Body {
    margin: 0;
    padding: 5px;
    width: 900px;
    background: linear-gradient(45deg, #f2f2f2 25%, #e6e6e6 25%, #e6e6e6 50%, #f2f2f2 50%, #f2f2f2 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 56.01px 56.01px;
    _overflow: hidden;
    color: black;
    margin: auto;
}

.DarkGradientBox .DGB_Button {
    cursor: pointer;
    background-color: #435D77;
    color: White;
    text-decoration: none;
    border: solid 1px #777;
    padding: 6px 10px 6px 10px;
    font-family: Verdana,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.DGB_Label, .DGB_Header {
    color: black;
    font-family: Verdana;
}

.DGB_Label {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

.DGB_Header {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
}
